.about {
     padding: 40px 0;
     h3{
          text-align: center;
     } 
     .skills{
          margin-bottom:30px;
          h5{
               width: 100%;
               text-align: center;
          }
          img{
               
               height: 74px;
               position: absolute;
               top: 45px;
               left: 0;
               right: 0;
               margin: 0 auto;
          }
     }
     .twitter-feed{
          img {
               height:100px;
          }
     }
}