.about {
     padding: 60px 0 40px;
     h3{
          text-align: center;
     }
     .skills{
          margin-bottom:30px;
          h5{
               width: 100%;
               text-align: center;
          }
          img{
               
               height: 80px;
               position: absolute;
               top: 45px;
          }
     }
     .twitter-feed{
          img {
               height:100px;
          }
     }
}