.menu {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     color: #fff;
     padding: 20px 0; 
     background: rgba(100,100,100, .1);
     ul{
          text-align:center;
          width: 100%;
          float: left;
          margin: 0; 
          li{
               display: inline-block;
               width: 110px;
               font-family: 'Catamaran', sans-serif;
               font-size:1rem;
               img.logo {
                    width: 160px;
               }
               a{
                    color:#fff;
               }
               &:nth-child(3){
                    width:160px;
                    margin-bottom: -47px;
               }
          }
     }
}